html, body{
	height: 100%;
	font-size: 16px !important;
}

header{
	width: 100%;
	text-align: center;
	color: #5bc0de;	
	padding: 0 10px !important;
}

a{
	color: white;
}

a:hover,
a:visited{
	color: white;
}

select,
input{
	padding: 10px 10px;
    font-size: 14px;
	font-weight: 700 !important;
}

input::-moz-placeholder,
input::-webkit-input-placeholder{
	font-weight: 500 !important;
	text-transform: uppercase;
}

.card{
	border-radius: 0;
}

.main-color{
	color: #967a50;
}

.background-main{
	background-color: #16262e;
}

.alert{
	border-radius: 0;
}

.alert-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}


.alert-info {
    background-color: #3498db;
    border-color: #3498db;
    color: #ffffff;
}

.alert-success {
    background-color: #18bc9c;
    border-color: #18bc9c;
    color: #ffffff;
}

.card-header{
	color: #967a50;
	background-color: #16262e;
	border: 0;
}
.fixed-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
 }

 .modal-content{
 	border-radius: 0;
 }

.modal-header{
	background-color: #132027;
	color: #fff;
}

.input-group-addon .fa {
    width: 1em;
    text-align: center;
}

.transparent-header{
	background-color: rgba(22, 38, 46, 0.8);
	position: absolute;
	top: 0px;
	z-index:999;
}


.nav-item a{
	color: #fff;
}

.transparent-header .nav-item{
	padding: 10px 10px;
	font-size: 16px;
	text-transform: uppercase;
}

.transparent-header .dropdown-menu{
	background-color: #16262e;
    border-radius: 0;
    padding: 0;
    margin-top: -1px;
    min-width: 200px;
    right: auto;
    left: 0px;
    box-shadow: none;
    border-width: 0;
}

.transparent-header .dropdown-menu a{
	transition: all 0.2s ease;
	padding: 10px;
	font-size: 16px;
	color: #fff;
}

.transparent-header .dropdown-menu a:hover{
	background-color: #967a50;
	color: #fff;
}

.transparent-header .nav-item.active{
	color: #967a50;
	border-bottom: 2px solid #967a50;
	font-weight: 700 !important;
}

.transparent-header .nav-link{
	color: white !important;
	font-weight: 500;
}

.transparent-header .nav-item.active .nav-link{
	color: #967a50 !important;
	font-weight: 700 !important;

}

.navbar-brand img{
	width: 150px;
}

.navbar-brand{
	padding: 10px;
}

.nav-link:hover{
 	background-color: transparent;
 }

.nav-link.active:hover {
	background-color: transparent;
}

h2{
	font-weight: 700 !important;
}

.title:after{
	content: '.';
	display: block;
	height: 20px;
	width:80%;
	margin: 0px auto;
	text-indent: -9999px;
	border-bottom: 3px solid #967a50;
}

a{
	text-decoration: none;
}

/*a:hover, a:visited, a:focus{
	text-decoration: none;
}
*/
.hidden{
	display: none;
}

.btn-block{
	display: block;
	width: 100%;
}

.main-btn{
	border: 2px solid #967a50;
	padding: 10px 20px;
	background: transparent;
	font-weight: 700;
	border-radius: 0;
	cursor: pointer;

}


.nav-header>.nav-item{
	border-width: 1px 1px 1px 0;
    border-color: #eaedee;
    border-style: solid;
    background-color: #fff;
    color: #16262e;
    outline-width: 0 !important;
    border-radius: 0;
    padding: 10px 20px;
    margin-right: 0;
    -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.fixed-bg{
	background-attachment: fixed !important;
}

.page-title-container{
	margin-bottom: 35px;
	padding-bottom:15px;
}

.page-title{
	text-align: center;
	line-height: 1;
}
	.page-title h2{
		font-size:45px;
	}

.page-title-center{
	color: #16262e;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 15px;
    position: relative;
    text-align: center
}

.page-title-left{
    color: #16262e;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 35px;
    padding-bottom: 15px;
    position: relative;
}

.jumbotron {
    border-radius: .3rem;
   
}

.jumboTransparent {
    background-color: rgba(234, 232, 232, 0.5);
    height: 20%;
}

.jumboTransparent1 {
    background-color: rgba(234, 232, 232, 0.5);
    height: 25%;
}

.room-img-hover{
	width: 150%
}

.hovereffect {
  width: 50%;
  margin-left: 14%;
  padding-bottom: 10%;
}

.hovereffect .overlay {
	margin-left: 17%;
  width: 68%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(130px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect .room-price {
	text-transform: uppercase;
	color: #fff;
	text-align: left;
	position: relative;
	font-size: 17px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.6);
	width: 40%;
	padding: 10px 0px 5px 0px;
	-webkit-transform: translateY(45px);
	-ms-transform: translateY(45px);
	transform: translateY(150px);
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.hovereffect:hover .room-price {
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
	width: 40%;
	padding: 10px 0px 5px 0px;
}

.hovereffect p.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: 10px 0 0 0;
}

.hovereffect:hover p.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect p.info:hover {
  box-shadow: 0 0 5px #fff;
}
 
 .parallax{
 	background-image: url('../img/about-img-index.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed !important;
 }

.second-title:after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background-color: #e7b315;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.second-title {
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    margin: 40px 0px 40px 0px;

}

.second-title h2 {
    color: #16262e;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 10px;
}

.second-title p {
    font-size: 16px;
    color: #16262e;
}



.hovereffect a.more-btn {
  text-decoration: none;
  color: #fff;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 45px 180px 0 0;
}

.hovereffect:hover a.more-btn {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}



#splash-slider{
	height: 100%;
	width: 100%;
}
	#splash-slider .item,
	#splash-slider .active{
		height: 100%;
		width: 100%;
	}

	#splash-slider .fill{
	    width: 100%;
	    height: 100%;
	}

	#splash-slider .carousel-inner{
		height: 100%;
		width: 100%;
	}
	#splash-slider .item1{
		width: 100%;
		height: 100%;
		background-image: url('../img/splash/splash1.jpg');
		 background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

	#splash-slider .item2{
		width: 100%;
		height: 100%;
		background-image: url('../img/splash/splash2.jpg');
		 background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

	#splash-slider .item3{
		width: 100%;
		height: 100%;
		background-image: url('../img/splash/splash3.jpg');
		 background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}
	
	#splash-slider .carousel-indicators{
		bottom: 10%;
	}

	#splash-slider .carousel-indicators li{
		width: 10px;
		height: 10px;
		margin: 3px;
		border: 1px solid #fff;
	}
	#splash-slider .carousel-indicators .active{
		background-color: white;
		transform: scale(1.30,1.30);
	}

	#splash-slider .carousel-caption{
		bottom: 30%;
		padding: 15px;
	}

	#splash-slider .carousel-caption h2{
		text-transform: uppercase;
		font-size: 48px;
	}


	#splash-slider .carousel-caption h2:after{
		content: '.';
		display: block;
		height: 20px;
		width: 50%;
		margin: 0px auto;
		text-indent: -9999px;
		border-bottom: 3px solid #967a50;
	}

.index-about{
	color: #fff
}

.index-about-p{
	text-align: justify;
	text-justify: inter-word;
}

.index-about h3:after {
    content: '.';
    display: block;
    height: 20px;
    width: 10%;
    margin: 0px auto;
    text-indent: -9999px;
    border-bottom: 3px solid #967a50;
}


.jumbotron-about {
	padding: 5%;
	width: 100%;
    background-color: rgba(22, 38, 46, 0.7);
}

.about-index img{
    width: 100%;
	}

.social-media .fa {
	color: #fff;
}

.email{
	color: #fff;
}
.book-now .bn-title{
	color: #967a50;
    font-size: 30px;
    line-height: 43px;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
    box-shadow: 3px 0 #967a50;
}

.book-now .bn-title .bn-big{
    display: block;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
}

.book-now .bn-form{
	padding: 40px 0px;
}

.book-now .bn-form .input-group-addon:first-child {
    border-radius: 1px 0px 0px 1px;
}


.book-now .bn-form .input-group .form-control {
    border-radius: 0 1px 1px 0;
}

.book-now .bn-form .form-control,
.book-now .bn-form select {
    height: auto;
    padding: 8px 12px;
    border-radius: 1px;
    border-color: #fff;
    color: #fff;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0;
}

.book-now .bn-form .input-group-addon {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.booking-cta{
	padding: 30px 0;
	background-color: #16262e;
	color: white;
}
	.booking-cta .bn-title{
		/*text-align: center;*/
		font-size: 28px;
		line-height: 43px;
		text-transform: uppercase;
	    box-shadow: 3px 0 #967a50;
	    margin: 0;
	    padding: 20px 0;
	}

	.booking-cta .cta-title-p{
		display: block;
	    font-size: 17px;
	    line-height: 28px;
	    color: #fff;
	}	

	#splash-slider .carousel-caption .spec{
		font-size: 48px
		text-transform: ;
		letter-spacing: 3px;
	}

	#splash-slider .carousel-caption h4{
		font-size: 48px;
		letter-spacing: 5px;
	}

	#splash-slider .carousel-caption p{
		font-size: 20px;
	}

	#splash-slider .carousel-caption{
		background: rgba(0,0,0,0.4);
	}


.pax-count{
	width: 75px;
	height: 38px;
	padding: 5px;
	border-radius: 5px;
}

.booking-cta .main-btn{
	color: #fff;
	background-color: #967a50;
	text-transform: uppercase;
	font-weight: 700;
}

.booking-cta .sl-booking-forms{
	padding-top: 25px;
}

.booking-cta option{
	color: #000;
}

.check-avail{
	padding: 40px 0 40px;
    background-color: #fff;
}
	.check-avail .small{
		font-size: 24px;
	}
	.check-avail-form{
		padding: 2px 30px 2px;
	}

	.check-avail .check-avail-form .item{
		position: relative;
	}

.fa-wifi{
	background-color: #16262e;
	color: #fff;
	border-radius: 5px;
	padding: 5px
}

.fa-shield{
	background-color: #16262e;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
}

.fa-cutlery{
	background-color: #16262e;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
}

.fa-coffee{
	background-color: #16262e;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
}
.facilities-row{
	padding: 0% 10% 2% 10%;
}

.index-contact{
	color: #fff;
	background-color: #16262e;
}
	.index-contact .form-control{
	    height: auto;
	    padding: 8px 12px;
	    border-radius: 1px;
	    border-color: #fff;
	    color: #fff;
	    background-color: transparent
	}

	.index-contact #btnContactUs{
		color: #FFF;
		background-color: #967a50;
		font-weight: 700;
	}
.email{
	background-color: #fff;
	color: #000;
	border-radius: 10%
	padding: 5px;
}


.reservation .page-title{
	padding-top: 167px;
	padding-bottom: 50px;
	background-image: url(../img/bg/rooms-page-title-cover.jpg);
	color: transparent;
	text-align: center;
	background-attachment: scroll !important;
}

	.transparent-header + .reservation .page-title {
	    padding-top: 200px;
	}
	.reservation .page-title {
		color: #fff;
	}
	.reservation .page-title h2:after{
		content: '.';
		display: block;
		height: 20px;
		width: 50%;
		margin: 0px auto;
		text-indent: -9999px;
		border-bottom: 3px solid #967a50;
	}

.reservation .page{
	padding: 70px 0 100px;
}

.reservation .nav-tabs{
	border-bottom-width: 0;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
    text-align: center;

}

.reservation .nav-item{
	width: 20%;
	text-align: center;
    position: relative;
    margin-left: 0 !important;
}

.reservation .nav-item>a{
	display: block;
	color: #ced4d6;
    background-color: transparent !important;
    border-width: 0 !important;
    box-shadow: none !important;
    width: 100%;
    outline-width: 0 !important;
    border-radius: 0;
    padding: 10px 20px;
    margin-right: 0;
    font-size: 14px;
    -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.reservation .nav-item > a .tab-num{
	display: block;
    font-weight: 600;
    color: #16262e;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-color: #dbdedf;
    background-color: #fff;
    border-radius: 50%;
    padding: 0;
    text-transform: uppercase;
    width: 55px;
    line-height: 49px;
    margin-bottom: 10px;
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}

.reservation li > .nav-link{
	cursor: default;
}

.reservation li > .nav-link.active{
	color: #000;
    font-weight: 700 !important;
}

.reservation li > .nav-link.active .tab-num{
	color: #967a50;
    border-color: #967a50;
}

.reservation .book-now{
	padding: 20px 35px;
	margin-top: 80px !important;
	background-color: #16262e;

}

.reservation .book-now h2{
	text-align: center
}

.reservation .book-now .main-btn{
	color: #fff;
	background-color: #967a50;
}


.reservation .nav-item > a .bar{
	display:block;
	background-color: #dbdedf;
	height: 3px;
	width: 100%;
	top: 50%;
	right: -50%;
	z-index: -1;
	margin-top: -17px;
	position: absolute;
}

.reservation .available-rooms{
	padding: 50px 0;

}

.avaiable-rooms{
}

.reservation .available-rooms input[type="radio"]{
	display: none;
}

.reservation .page-title-center{
	padding-bottom: 50px;
}

.reservation .page-title-center:after{
	content: '.';
	display: block;
	height: 20px;
	width:40%;
	margin: 0px auto;
	text-indent: -9999px;
	border-bottom: 3px solid #967a50;
}

.reservation .room{
	padding: 30px;
	margin-bottom: 30px;
	border: 2px solid #967a50;
}


.reservation .room .page-title-left{
	margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    text-transform: uppercase;
    font-weight: 700;
}
	.reservation .room .page-title-left::after{
		width: 100%
	}

	.reservation .room .main-btn{
		border: 2px solid transparent;
		border-radius: 0;
		font-weight: bold;
		background-color: #967a50;
		color: white;
		transition: all 0.2s ease;
	}

	.reservation .room .main-btn:hover{	
		border: 2px solid #967a50;
		border-color: #967a50;
		background-color: #fff;
		color: #967a50;
	}
	

.reservation .reservation-information{
	padding-top: 80px;
	padding-bottom: 30px;
	padding: 30px;
	margin-bottom: 30px;

}
	.reservation .information{
		padding: 30px;	
		border: 2px solid #967a50;
	}

	.reservation .information .page-title-left:after{
		content: '.';
		display: block;
		height: 20px;
		width:100%;
		margin: 0px auto;
		text-indent: -9999px;
		border-bottom: 2px solid #967a50;
	}

	.reservation .information .page-title-left{
		padding-bottom: 0;
	}

	.reservation .information .btn-submit{
		color: #fff;
		border: 2px solid transparent;
		background-color: #967a50;
		font-weight: bold;
		border-radius: 0;
		transition: all 0.2s ease;
	}

	.reservation .information .btn-submit:hover{
		color: #000;
		border: 2px solid #967a50;
		background-color: transparent;
	}


.reservation .check-availability{
	padding: 50px 20px;
	background-color: #16262e;
	margin-top: 70px;
}
	.reservation .check-abailability .ca-title-container{
		padding-bottom: 20px;
	}
	.reservation .check-availability .ca-title{
		text-align: center;
		color: #967a50;
	    font-size: 30px;
	    line-height: 43px;
	    text-transform: uppercase;
	    margin: 0;
	    padding: 20px 0;
	}

	.reservation .check-availability p{
	    display: block;
	    font-size: 17px;
	    line-height: 28px;
	    color: #fff;
	}

	.reservation .check-availability .title:after{
		width: 50%;
	}

	.reservation .check-availability p{
		text-align: center;
	}

	.reservation .check-availability .ca-form{
		padding: 40px 20px;
	}

	.input-group,
	.reservation .check-availability .ca-form .input-group{
		margin-bottom: 25px;
	}

	.input-group-addon:first-child,
	.reservation .check-availability .ca-form .input-group-addon:first-child{
		background-color: transparent;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 1px 0px 0px 1px;
	}

	.input-group .form-control,
	.reservation .check-availability .ca-form .input-group .form-control{
		background-color: transparent;
		border: 2px solid #fff;
		border-radius: 1px;
		border-radius: 0 1px 1px 0;
		border-left: 0;
	}

	.reservation .check-availability .ca-form .form-control{
		color: #fff;
		padding: 8px 12px;
		text-align: center;	
	}	
	
	.reservation .btn-submit-container{
		margin: 0 auto;
		float: none;
	}

	.reservation .btn-block{
		color: #fff;
		border-width: 2px;
	}
	.reservation .res-info-input{
		margin-bottom: 25px;
	}

	.reservation input,
	.form-login-admin input,
	.dashboard-admin select,
	.dashboard-admin input,
	.reservation .res-info-input input,
	.reservation .res-info-input textarea{
		font-size: 14px;
		border-radius: 0;
		padding: 12px 18px;
		border: 2px solid #C2C2C2;
		line-height: normal;
	}
	.reservation .reservation-info .btn-submit{
		color: #000;
		border-width: 2px;
		font-weight: 700;
		border-radius: 0;
		cursor: pointer;;
	}

	.reservation  .room-widget{
	    background-color: #16262e;
	    padding: 30px;
	    margin-bottom: 30px;
	    color: #fff;
	}
		.reservation  .room-widget h2{
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			font-size: 24px;
		}
		.reservation .room-widget h2:after{
			content: '.';
			display: block;
			height: 20px;
			width:100%;
			margin: 0px auto;
			text-indent: -9999px;
			border-bottom: 2px solid #967a50;
		}

		.reservation .room-widget .r-cart-room h3{
		    font-size: 18px;
		    font-weight: 400;
		    color: #fff;
		    margin-bottom: 20px;
		    padding-bottom: 10px;
		    border-bottom: 1px solid rgb( 150,122,80);
		    margin-top: 20px;
			text-transform: uppercase;
		}

		.reservation  .room-widget .r-cart-row{
			padding: 10px 0;
		    border-bottom: 1px solid rgb( 150,122,80);
		}

		.reservation  .room-widget strong{
			color: #967a50;
			margin-right: 5px;
			display: inline-block;
		}

		.reservation .room-widget .r-cart-total{
			padding: 30px 0 10px;
		    font-size: 25px;
		    line-height: 35px;
		    color: #fff;
    		font-weight: 400;
		}

.reservation #payment-info{
	padding-top: 80px;
}

	.reservation #payment-info .page-title-left:after{
		content: '.';
		display: block;
		height: 20px;
		width:100%;
		margin: 0px auto;
		text-indent: -9999px;
		border-bottom: 2px solid #967a50;
	}

.reservation .congratulations{
	padding: 30px 50px;
}
	.reservation .congratulations-container{
		padding: 30px;
		border: 2px solid #967a50;
		width: 100%;
	}

	.congratulations-container .page-title-center{
		padding-bottom: 15px;
	}

	.congratulations-container .page-title-center::after{
		width: 70%;
	}

	.congratulations-container h3{
		font-size: 24px;
	}

	.congratulations .conf-code{
		color: #132027;
	}

.rooms-grid-view .page-title{
	padding-top: 167px;
	padding-bottom: 50px;
	background-image: url(../img/bg/rooms-page-title-cover.jpg);
	color: transparent;
	text-align: center;
	height: 100%;
	background-attachment: scroll !important;
}
	.transparent-header + .rooms .page-title {
	    padding-top: 200px;
	}
	.rooms-grid-view .page-title {
		color: #fff;
	}

	.rooms-grid-view .page-title .description{
		max-width: 800px;
		margin: 0 auto;
	}

	.rooms-grid-view .page-title h2:after{
		content: '.';
		display: block;
		height: 20px;
		width: 50%;
		margin: 0px auto;
		text-indent: -9999px;
		border-bottom: 3px solid #967a50;
	}

	.rooms-grid-view .page-title p{
		line-height: 30px;
	}

	.rooms-grid-view .rooms{
		padding-top: 30px;		
	}

	.rooms-grid-view .content-title{
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
	}

	.rooms-grid-view .rooms .content-title h2:after{
		content: '.';
		display: block;
		height: 20px;
		width: 50%;
		margin: 0px auto;
		text-indent: -9999px;
		border-bottom: 3px solid #967a50;
	}

	.rooms-grid-view .rooms .room-location{
		padding: 50px 0;
	}
		.rooms-grid-view .rooms .room-location .room-location-box{
			height: 500px;
			position: relative;
		}

		.rooms-grid-view .rooms .room-location .room-location-box{
			height: 500px;
			position: relative;
		}

		.rooms-grid-view .rooms .room-location .room-location-box:before{
			display: block;
		    content: '';
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    -webkit-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
		    background: rgba(0, 0, 0, 0.6);
		}

		.rooms-grid-view .rooms .room-location .room-location-box:hover:before{
			opacity: 0;
		}

		.rooms-grid-view .rooms .room-location .room-location-box img{
			width: 100%;
			height: 100%;
		}

		.rooms-grid-view .rooms .room-location .room-location-box .caption{
			color: #fff;
			border-left: 2px solid #967a50;
		    padding: 10px 20px 20px 20px;
		    position: absolute;
		    left: 30px;
		    width: calc(100% - 60px);
		    bottom: 30px;
		    -webkit-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
   			 transition: all 0.5s ease;
		}

		.rooms-grid-view .rooms .room-location .room-location-box:hover .caption{
			background: rgba(0, 0, 0, .5);
		}

		.rooms-grid-view .rooms .room-location .room-location-box .caption>.caption-title{
		    margin: 0;
    		color: #fff;
    		text-transform: uppercase;
		}

		.rooms-grid-view .rooms .room-location .room-location-box .caption>.caption-price{
    		color: #fff;
		}

		.rooms-grid-view .rooms .room-location .room-location-box .caption>.caption-price div{
			display: inline-block;
		}

		.rooms-grid-view .rooms .room-location .room-location-box .caption>.caption-price>.price-title{
    		color: #967a50;
    		font-weight: 700;
		}

		.rooms-grid-view .rooms .room-location .room-location-box .caption>.caption-desc{
		    max-height: 0;
		    overflow: hidden;
		    padding: 1px;
		    -webkit-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
   			 transition: all 0.5s ease;
		}

		.rooms-grid-view .rooms .room-location .room-location-box .caption .caption-desc>.caption-desc-container{
			text-align: justify;
		    opacity: 0;
		    position: relative;
		    visibility: hidden;
		    padding-top: 10px;
		    top: 30px;
		    -webkit-transition-delay: 0s;
		    transition-delay: 0s;
		    -webkit-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
		}

		.rooms-grid-view .rooms .room-location .room-location-box:hover .caption>.caption-desc{
			max-height:140px;
		}

		.rooms-grid-view .rooms .room-location .room-location-box:hover .caption .caption-desc>.caption-desc-container{
	        opacity: 1;
		    visibility: visible;
		    top: 0;
		    -webkit-transition-delay: 0.3s;
		    transition-delay: 0.3s;
		}

		.rooms-grid-view .rooms .room-location .room-location-box .caption .caption-desc .btn-block{
			text-align: center;
			font-weight: 700;
			color: #fff;
			border-width: 2px;
			background-color: #967a50;
			-webkit-transition-delay: 0s;
		    transition-delay: 0s;
		    font-size:12px;
		    -webkit-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
		}	

		.rooms-grid-view .rooms .room-location .room-location-box .caption .caption-desc .btn-block:hover{
			text-align: center;
			color: #fff;
			background-color: transparent;
			border-width: 2px;
		}	

.footer{
	background-color: #132027; 
	padding: 1%;
	color: #7a8a92;
	position:relative;
	margin-top: 0;
	clear: both;
}

	.footer p{
		color: #fff;
	}

.nav-footer{
	padding-left: 5%;
}

.login-admin{
	background-image: url(../img/about-img-index.png);
	background-size: cover;
    width: 100%;
    height: 100%;
}

.form-login-admin{
	   background: rgba(0,0,0,0.4);
    color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px 40px;
}
.form-login-admin hr{  
    color: #fff;
}

.btn-admin .btn{
	color: white;
}
.forgot-password{
	color: white;
}



.has-error input,
.search-room .has-error span{
	border: 2px solid red !important;
}


.search-room .has-error input{
	border-left: 0 !important;
}

.search-room .help-block{
	color: white;
}

#payment-info .payment-errors{
	font-weight: bold;
	padding: 10px;
}

.check-reservation {
	min-height: 100%;
}

	.check-reservation .page-title{
	padding-top: 167px;
	padding-bottom: 50px;
	background-image: url(../img/bg/rooms-page-title-cover.jpg);
	color: transparent;
	text-align: center;
	background-attachment: scroll !important;
}

	.transparent-header + .check-reservation .page {
	}
	.check-reservation .page-title {
		color: #fff;
	}
	.check-reservation .page-title h2:after{
		content: '.';
		display: block;
		height: 20px;
		width: 50%;
		margin: 0px auto;
		text-indent: -9999px;
		border-bottom: 3px solid #967a50;
	}

	.check-reservation .page{
		padding: 70px 0 100px;
		height: 100%;
		padding-top: 150px;
	}

	.check-reservation .card{
		border-radius: 0;
		border: 2px solid transparent;
		background-color: #16262e;
	}

	.check-reservation .card-block{
		padding: 20px 70px;
	}

	.check-reservation .card-header{
		text-align: center;
		color: #967a50;
	    font-size: 30px;
	    line-height: 43px;
	    text-transform: uppercase;
	    margin: 0;
	    padding: 20px 0;
	    background-color: #16262e;
	    border-radius: 0;
	    border: 0;
	}

	.check-reservation .card-header:after{
		content: '.';
		display: block;
		height: 20px;
		width: 50%;
		margin: 0px auto;
		text-indent: -9999px;
		border-bottom: 2px solid #967a50;
	}

	.check-reservation .form-control{
		height: auto;
	    padding: 8px 12px;
	    border-radius: 0;
	    border-color: #c2c2c2;
	    border-width: 2px;
	    color: #fff;
	    box-shadow: none;
	    background-color: transparent;
	    margin-bottom: 0;
	}

	.check-reservation .btn-submit{
	 	color: #fff;
		border: 2px solid transparent;
		background-color: #967a50;
		font-weight: 700;
		border-radius: 0;
		cursor: pointer;
		transition: all 0.2s ease;
	}

	.check-reservation .btn-submit:hover{
		color: #fff;
		border: 2px solid #967a50;
		background-color: transparent;
	}

.ammend-reservation .main-btn,
.modal-cancel .main-btn{
	background-color: #967a50;
	color: #fff;
	border-color: transparent;
	transition: all 0.2s ease;
}

.ammend-reservation .main-btn:hover,
.modal-cancel .main-btn:hover{
	background-color: transparent;
	color: #000;
	border-color: #967a50;
}

.modal-move .input-group .form-control{
	border-color: #000;
    color: #000;
}

.modal-move .input-group-addon:first-child{
	color: #000;
	border-color: #000;
}

.modal-move .modal-body .btn-container{
	margin: auto;
}

.ammend-reservation .r-cart-row{
    border-bottom: 1px solid rgb( 150,122,80);
}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}


.wrap{
	min-height: 100%;
	margin-bottom: -70px;
}

.navbar{
	border:0;
}

.footer .nav-link{
	font-weight: 500;
	letter-spacing: 2px;
}
.dashboard-admin .navbar-brand {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar .dropdown-item{
	color: #000;
}

.user-menu {
    display: inline-block;
    margin-top: 14px;
    margin-right: 10px;
    float: right;
    list-style: none;
    padding: 0;
}

.user-menu a {
    color: #fff;
}

.dashboard-admin{
	background-color: #dfdfdf;
}

.dashboard-admin .wrap{
	padding-top: 100px;
}

.card{
	border:0;
}

.dashboard-admin .page-header{
	color: #16262e;
	margin-bottom: 40px;
}

.no-padding{
	padding: 0;
	margin: 0;
}

.widget-left i{
	font-size: 30px;
	color: #967a50;
	text-align: center;
}

.widget-left{
	background-color: #16262e;
	text-align: center;
	padding: 20px 20px;
	height: 70px;
}

.widget-right{
	background-color: white;
	height: 70px;
}

.widget-right .large{
	color: #967a50;
	font-size: 1.5em;
	font-weight: 700;
}

.dashboard-admin .tasks{
	margin-top: 20px;
}

.dashboard-admin .task{
	width: 100%;
	text-align: center;
}

.no-padding-left{
	padding-left: 0;
	margin-left: 0;
}

.sidebar{
	position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #16262e;
}

.sidebar .img-container{
	padding: 20px 15px 5px 15px;
    border-bottom: 2px solid #967a50;
    margin-bottom: 20px;
}

.sidebar .img-container img{
	padding: 20px;
}

.sidebar .nav-link i{
	height: 16px;
    width: 16px;
    font-size: 16px;
    margin: 0 10px 0 0;
    color: #967a50;
    font-weight: 500;

}

.sidebar .nav-link{
    padding: .5em 1em;
    display: block;
    font-weight: 500;
    color: #8aa4af;
    text-transform: uppercase;
}

.sidebar .nav-link.active{
	color: white;
}

.pagination{
	border-radius: 0;
}

.page-item.active .page-link{
	color: #fff;
	background-color: #16262e;
	border-color: #16262e;
	font-weight: 700;
	border-radius: 0;
}

.page-item.active:hover .page-link{
	background-color: #16262e;
	color: #fff;
	border-color: #16262e;
}

.page-item .page-link{
	color: #967a50;
	font-weight: 700;
	transition: all 0.2s ease;
	border-radius: 0;
}

.page-link{
	border-radius: 0 !important;
}

.page-item .page-link:hover{
	background-color: #16262e;
}

.table .main-btn{
	background-color: #967a50;
	color: #fff;
	margin: 2px;
	transition: all 0.2s ease;
	display: inline-block;
}


.dashboard-admin .main-btn{
	border: 2px solid transparent;
	border-radius: 0;
	font-weight: bold;
	background-color: #967a50;
	color: white;
	transition: all 0.2s ease;
}

.dashboard-admin .main-btn:hover{	
	border: 2px solid #967a50;
	border-color: #967a50;
	background-color: transparent;
	color: #967a50;
}

.dashboard-admin .card-title{
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 700;
}

.dashboard-admin .custom-select,
.dashboard-admin input{
	padding:10px 10px;
	font-size: 14px;
	font-weight: 500;
}

.dashboard-admin .custom-select{
	padding: 10px 10px;
	height: auto !important;
}

.label,
.dashboard-admin .label{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #16262e;
	margin-top: 10px;
}

.dashboard-admin .modal-title{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 10px;
}

a.label:hover{
	cursor: pointer;
}

thead th{
	text-transform: uppercase;
	font-weight: 700;
	color: #16262e;
}

.reports-nav .nav-link{
	text-transform: uppercase;
	font-weight: 700;
	color: #16262e;
	transition: all 0.2s ease;
}

.reports-nav .nav-link:hover{
	border-color: none;
	color: #967a50;
}

.reports-nav .nav-item .nav-link:hover{
	border-color: transparent;
}

.reports-nav{
	border-bottom: 2px solid #16262e;
}

.reports-nav .nav-link.active{
	color: #967a50 ;
	background-color: #16262e ;
	border-color: transparent;
	border-top: 3px solid #967a50;
	border-radius: 0;
}

.card-header:first-child{
	border-radius:0;
}

.form-login-admin .label{
	font-size: 35px;
	color: white;
	display: block;
}

.form-login-admin .label span{
	color: #16262e;
	display: block;
}

.form-login-admin label{
	font-weight: 700;
	text-transform: uppercase;
}

.form-login-admin .main-btn{
	background-color: transparent;
	color: white;
	border: 2px solid #967a50;
	transition: all 0.2s ease;
}

.form-login-admin .main-btn:hover{
	background-color: #967a50;
	border: 2px solid #967a50;
}

#dataTables_length{
	margin-right: auto !important;
}

.dataTables_wrapper .dataTables_length{
	float: left !important;
}

.dataTables_wrapper .row,
.dataTables_wrapper .col-xs-12{
	width: 100%;
}

.dataTables_wrapper .dataTables_filter{
	float: right !important;
}

.dataTables_paginate{
	float: right !important;
}

.dataTables_wrapper .dt-buttons{
	width: 100%;
	margin-bottom: 10px;
}

.dataTables_wrapper .dt-buttons .dt-button{
	float: right;
	background-image: none;
	transition: all 0.2s ease;
	padding: 10px 20px;
	font-size: 16px;
}

.dataTables_wrapper .dt-buttons .dt-button:hover{
	border: 2px solid #967a50;
	border-color: #967a50;
	background-color: #fff;
	color: #967a50;
	background-image: none;
}

#room-report_wrapper .dataTables_length,
#reservation-table_wrapper .dataTables_length,
#user-reports-table_wrapper .dataTables_length{
	width: 50%;
}


#room-report_wrapper .dataTables_info,
#room-report_wrapper .paginate,
#reservation-table_wrapper .dataTables_info,
#reservation-table_wrapper .dataTables_paginate,
#user-reports-table_wrapper .dataTables_info,
#user-reports-table_wrapper .dataTables_paginate{
	width: 50%;
}


#room-report_wrapper .dataTables_length label,
#reservation-table_wrapper .dataTables_length label,
#user-reports-table_wrapper .dataTables_length label{
	float: left;
}

#room-report_wrapper .dataTables_filter,
#reservation-table_wrapper .dataTables_filter,
#user-reports-table_wrapper .dataTables_filter{
	width: 50%;
}


#room-report_wrapper .dataTables_filter label,
#room-report_wrapper .pagination,
#reservation-table_wrapper .dataTables_filter label,
#reservation-table_wrapper .pagination,
#user-reports-table_wrapper .dataTables_filter label,
#user-reports-table_wrapper .pagination{
	float: right;
}

.sidebar .nav-link{
	transition: all 0.2s ease;
}

.sidebar .nav-item:hover>.nav-link{
	color: white;
}

#book-submit{
	transition: all 0.2s ease;
}

#book-submit:hover{
	background-color: transparent;
}