html, body{
	height: 100%;
}

.main-btn{
	border: 1px solid #967a50;
	padding: 10px 20px;
	border-radius: 5px;
	background: transparent;
}

#splash-slider{
	height: 130%;
	width: 100%;
}
	#splash-slider .item,
	#splash-slider .active{
		height: 100%;
		width: 100%;
	}

	#splash-slider .fill{
	    width: 100%;
	    height: 100%;
	}

	#splash-slider .carousel-inner{
		height: 100%;
		width: 100%;
	}
	#splash-slider .item1{
		background-image: url('../img/splash/splash1.jpg');
		 background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

	#splash-slider .item2{
		width: 100%;
		height: 100%;
		background-image: url('../img/splash/splash2.JPG');
		 background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

	#splash-slider .item3{
		width: 100%;
		height: 100%;
		background-image: url('../img/splash/splash3.JPG');
		 background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}
	
	#splash-slider .carousel-indicators{
		bottom: 10%;
	}

	#splash-slider .carousel-indicators li{
		width: 10px;
		height: 10px;
		margin: 3px;
		border: 1px solid #fff;
	}
	#splash-slider .carousel-indicators .active{
		background-color: white;
		transform: scale(1.30,1.30);
	}

	#splash-slider .carousel-caption{
		top: 30%;
		padding: 0;
	}

		#splash-slider .carousel-caption h3{
			font-family: 'Noto Serif', serif;
			font-size: 45px;
			text-transform: uppercase;
		}

		#splash-slider .carousel-caption h2{
			font-size: 50px;
			text-transform: uppercase;
			padding-bottom: 40px;
		}

		#splash-slider .carousel-caption h2:after{
			content: '.';
			display: block;
			height: 20px;
			width:80%;
			margin: 0px auto;
			text-indent: -9999px;
			border-bottom: 3px solid #967a50;
		}

		#splash-slider .carousel-caption .spec{
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 5px;
		}

		#splash-slider .carousel-caption p{
			font-family: 'Noto Serif', serif;
			font-size: 20px;
		}

.booking-cta{
	padding: 30px 0;
	background-color: #16262e;
	color: white;
}
	.booking-cta .cta-title{
		font-family: 'Montserrat', sans-serif;
		font-size: 28px;
		line-height: 43px;
		text-transform: uppercase;
		margin: 0;
		padding: 10px 0;
		/*box-shadow: 3px 0 #967a50;*/
	} 

	.booking-cta .cta-btn{
		margin: 0 auto;
	}

	.booking-cta .main-btn{
		margin-top: 8px;
		font-size: 20px;
		color: #967a50;
		padding: 15px 30px;
	}

.check-avail{
	padding: 40px 0 40px;
    background-color: #fff;
}
	.check-avail .small{
		font-size: 24px;
	}

	.check-avail-form{
		padding: 2px 30px 2px;
	}

	.check-avail .check-avail-form .item{
		position: relative;
	}