html, body{
	height: 100%;
}

#splash-slider{
	height: 100%;
	width: 100%;
}
	#splash-slider .item,
	#splash-slider .active{
		height: 100%;
		width: 100%;
	}

	#splash-slider .carousel-inner{
		height: 100%;
		width: 100%;
	}
	#splash-slider .fill{
	    width: 100%;
	    height: 100%;
	    background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

	#splash-slider .carousel-indicators li{
		width: 10px;
		height: 10px;
		margin: 3px;
		border: 1px solid #fff;
	}
	#splash-slider .carousel-indicators .active{
		background-color: white;
		transform: scale(1.30,1.30);
	}

	#splash-slider .carousel-caption{
		top: 30%;
		padding: 0;
	}

		#splash-slider .carousel-caption h3{
			font-family: 'Noto Serif', serif;
			font-size: 45px;
			text-transform: uppercase;
		}

		#splash-slider .carousel-caption h2{
			font-size: 50px;
			text-transform: uppercase;
			padding-bottom: 40px;
		}

		#splash-slider .carousel-caption h2:after{
			content: '.';
			display: block;
			height: 20px;
			width:80%;
			margin: 0px auto;
			text-indent: -9999px;
			border-bottom: 3px solid #967a50;
		}

		#splash-slider .carousel-caption .spec{
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 5px;
		}

		#splash-slider .carousel-caption p{
			font-family: 'Noto Serif', serif;
			font-size: 20px;
		}