/*Globals*/

html, body{
	height: 100%;
}

h2{
	font-weight: 700 !important;
}


a{
	text-decoration: none;
}

a:hover, a:visited, a:focus{
	text-decoration: none;
}

.hidden{
	display: none;
}

.btn-block{
	display: block;
	width: 100%;
}

.main-btn{
	border: 1px solid #967a50;
	padding: 10px 20px;
	border-radius: 5px;
	background: transparent;
}

.nav-item>a{
	border-width: 1px 1px 1px 0;
    border-color: #eaedee;
    border-style: solid;
    background-color: #fff;
    color: #16262e;
    outline-width: 0 !important;
    border-radius: 0;
    padding: 10px 20px;
    margin-right: 0;
    -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
}

.fixed-bg{
	background-attachment: fixed !important;
}

.page-title-container{
	margin-bottom: 35px;
	padding-bottom:15px;
}

.page-title{
	text-align: center;
	line-height: 1;
}
	.page-title h2{
		font-size:45px;
	}

.page-title-center{
	color: #16262e;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 15px;
    position: relative;
    text-align: center
}

.page-title-left{
    color: #16262e;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 35px;
    padding-bottom: 15px;
    position: relative;
}

#splash-slider{
	height: 130%;
	width: 100%;
}
	#splash-slider .item,
	#splash-slider .active{
		height: 100%;
		width: 100%;
	}

	#splash-slider .fill{
	    width: 100%;
	    height: 100%;
	}

	#splash-slider .carousel-inner{
		height: 100%;
		width: 100%;
	}
	#splash-slider .item1{
		background-image: url('../img/splash/splash1.jpg');
		 background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

	#splash-slider .item2{
		width: 100%;
		height: 100%;
		background-image: url('../img/splash/splash2.jpg');
		 background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

	#splash-slider .item3{
		width: 100%;
		height: 100%;
		background-image: url('../img/splash/splash4.jpg');
		 background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}
	
	#splash-slider .carousel-indicators{
		bottom: 10%;
	}

	#splash-slider .carousel-indicators li{
		width: 10px;
		height: 10px;
		margin: 3px;
		border: 1px solid #fff;
	}
	#splash-slider .carousel-indicators .active{
		background-color: white;
		transform: scale(1.30,1.30);
	}

	#splash-slider .carousel-caption{
		top: 30%;
		padding: 0;
	}

		#splash-slider .carousel-caption h3{
			font-family: 'Noto Serif', serif;
			font-size: 45px;
			text-transform: uppercase;
		}

		#splash-slider .carousel-caption h2{
			font-size: 50px;
			text-transform: uppercase;
			padding-bottom: 40px;
		}

		#splash-slider .carousel-caption h2:after{
			content: '.';
			display: block;
			height: 20px;
			width:80%;
			margin: 0px auto;
			text-indent: -9999px;
			border-bottom: 3px solid #967a50;
		}

		#splash-slider .carousel-caption .spec{
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 5px;
		}

		#splash-slider .carousel-caption p{
			font-family: 'Noto Serif', serif;
			font-size: 20px;
		}

.book-now .bn-title{
	color: #967a50;
    font-size: 30px;
    line-height: 43px;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
    box-shadow: 3px 0 #967a50;
}

.book-now .bn-title .bn-big{
    display: block;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
}

.book-now .bn-form{
	padding: 40px 0px;
}

.book-now .bn-form .input-group-addon:first-child {
    border-radius: 1px 0px 0px 1px;
}

.book-now .bn-form .input-group .form-control {
    border-radius: 0 1px 1px 0;
}

.book-now .bn-form .form-control {
    height: auto;
    padding: 8px 12px;
    border-radius: 1px;
    border-color: #fff;
    color: #fff;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0;
}

.book-now .bn-form .input-group-addon {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.booking-cta{
	padding: 30px 0;
	background-color: #16262e;
	color: white;
}
	.booking-cta .cta-title{
		font-family: 'Montserrat', sans-serif;
		font-size: 28px;
		line-height: 43px;
		text-transform: uppercase;
		margin: 0;
		padding: 10px 0;
		/*box-shadow: 3px 0 #967a50;*/
	} 

	.booking-cta .cta-btn{
		margin: 0 auto;
	}

	.booking-cta .main-btn{
		margin-top: 8px;
		font-size: 20px;
		color: #967a50;
		padding: 15px 30px;
	}

.check-avail{
	padding: 40px 0 40px;
    background-color: #fff;
}
	.check-avail .small{
		font-size: 24px;
	}
	.check-avail-form{
		padding: 2px 30px 2px;
	}

	.check-avail .check-avail-form .item{
		position: relative;
	}

.reservation .page-title{
	padding-top: 167px;
	padding-bottom: 50px;
	background-image: url(../img/bg/reservation-page-title.png);
	color: #fff;
	text-align: center;
}
	.reservation .page-title h2:after{
		content: '.';
		display: block;
		height: 20px;
		width: 50%;
		margin: 0px auto;
		text-indent: -9999px;
		border-bottom: 3px solid #967a50;
	}

.reservation .page{
	padding: 70px 0 100px;
}

.reservation .nav-tabs{
	border-bottom-width: 0;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
    text-align: center;

}

.reservation .nav-item{
	width: 20%;
	text-align: center;
	float:none;
    display:inline-block;
    position: relative;
}

.reservation .nav-item>a{
	display: block;
	color: #ced4d6;
    background-color: transparent !important;
    border-width: 0 !important;
    box-shadow: none !important;
    width: 100%;
    outline-width: 0 !important;
    border-radius: 0;
    padding: 10px 20px;
    margin-right: 0;
    -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.reservation .nav-item > a .tab-num{
	display: block;
    font-weight: 600;
    color: #16262e;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-color: #dbdedf;
    background-color: #fff;
    border-radius: 50%;
    padding: 0;
    text-transform: uppercase;
    width: 55px;
    line-height: 49px;
    margin-bottom: 10px;
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}

.reservation li.active > a{
	color: #000;
    font-weight: 700 !important;
}

.reservation li.active > a .tab-num{
	color: #967a50;
    border-color: #967a50;
}

.reservation .book-now{
	padding: 20px 35px;
	margin-top: 80px !important;
	background-color: #16262e;

}

.reservation .book-now h2{
	text-align: center
}

.reservation .book-now .main-btn{
	color: #fff;
	background-color: #967a50;
}



.reservation .book-now .sr-form .check-in,
.reservation .book-now .sr-form .check-out,{
	width: 22%;
	position: relative;
} 

.reservation .nav-item > a .bar{
	display:block;
	background-color: #dbdedf;
	height: 3px;
	width: 100%;
	top: 50%;
	right: -50%;
	z-index: -1;
	margin-top: -17px;
	position: absolute;
}

.reservation .available-rooms{
	padding: 200px 0;
}

.reservation .page-title-center:after{
	content: '.';
	display: block;
	height: 20px;
	width:40%;
	margin: 0px auto;
	text-indent: -9999px;
	border-bottom: 3px solid #967a50;
}

.reservation .room{
	padding-bottom: 80px;
}

.reservation .room .avl-room-title{
	margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    text-transform: uppercase;
}

.reservation .room .avl-room-title span{
    font-weight: 300;
    color: #967a50;
    float: right;
    text-transform: none;
}

.reservation .reservation-information{
	padding-top: 80px;
	padding-bottom: 30px;

}

.reservation .reservation-information .res-info-input{
	min-height: 100px;
}